{% extends "base.html" %} {% block title %}{{ article.title }}{% endblock %} {%
block head %}
<link rel="stylesheet" href="{{ SITEURL }}/css/article.css" />
{% endblock %} {% block content %}
<div class="container-fluid d-flex justify-content-center">
  <div class="col-md-8">
    <div class="row">
      <h1>{{ article.title }}</h1>
    </div>
    <div class="row">
      <img
        src="{{ SITEURL }}/images/{{ article.category|lower }}/{{ article.slug }}.jpg"
        alt="{{ article.slug }}"
        class="img-fluid"
      />
    </div>
    <div class="row">
      <h3>{{ article.locale_date }}</h3>
    </div>
    <div class="row">{{ article.content }}</div>
  </div>
</div>
{% endblock %}
