{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ SITEURL }}/css/article.css">
{% endblock %}

{% block content %}
<div class="col-md-8">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ article.title }}</h1>
            <img src="{{ SITEURL }}/images/{{ article.category|lower }}/{{ article.slug }}.jpg" alt="{{ article.slug }}" class="img-fluid">
            <h3>{{ article.locale_date }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ article.content }}
        </div>
    </div>
</div>
{% endblock %}